user {{ general.execute_user_nginx }};
worker_processes {{ general.worker_processes }};
pid /run/nginx.pid;

include /usr/share/nginx/modules/*.conf;

events {
    worker_connections 1024;
    multi_accept {{ general.multi_accept }};
}

http {
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';
    error_log {{ logs.error_log_dir }} {{ logs.error_log_level }};
    access_log  {{ logs.access_log_dir }}  {{ logs.access_log_level }};

    sendfile            {{ sendfile }};
    tcp_nopush          {{ tcp_nopush }};
    tcp_nodelay         {{ tcp_nodelay }};
    open_file_cache max={{ cache.open_file_cache_max }} inactive={{ cache.open_file_cache_inactive }};
    open_file_cache_valid {{ cache.open_file_cache_valid }};
    open_file_cache_min_uses {{ cache.open_file_cache_min_uses }};
    open_file_cache_errors {{ cache.open_file_cache_errors }};
    gzip {{ gzip_setting.gzip }};
    gzip_disable {{ gzip_setting.gzip_disable }};
    gzip_types {{ gzip_setting.gzip_types }};
    keepalive_timeout {{ keepalive.keepalive_timeout }};
    keepalive_requests {{ keepalive.keepalive_requests }};
    reset_timedout_connection {{ client.reset_timedout_connection }};
    client_body_timeout {{ client.client_body_timeout }};
    send_timeout {{ client.send_timeout }};
    client_max_body_size {{ client.client_max_body_size }};

    types_hash_max_size 2048;

    include             /etc/nginx/mime.types;
    default_type        application/octet-stream;

    include /etc/nginx/conf.d/*.conf;
}